In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
import pickle

In [3]:
df = pd.read_csv('Churn_Modelling.csv')
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
#Preprocess the data
df = df.drop(['RowNumber','CustomerId','Surname'],axis=1)
df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [5]:
#Encode categorical variable
label_encoder_gender = LabelEncoder()
df['Gender'] = label_encoder_gender.fit_transform(df['Gender'])
df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [6]:
#OneHot Encode Geographical Column
from sklearn.preprocessing import OneHotEncoder
onehot_encode_geo = OneHotEncoder()
geo_encoder = onehot_encode_geo.fit_transform(df[['Geography']])
geo_encoder

<10000x3 sparse matrix of type '<class 'numpy.float64'>'
	with 10000 stored elements in Compressed Sparse Row format>

In [7]:
geo_encoded_df = pd.DataFrame(geo_encoder.toarray(),columns=onehot_encode_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [8]:
#Combine  onehot encoder column with original data
df = pd.concat([df.drop('Geography',axis=1),geo_encoded_df],axis=1)
df.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [9]:
#Split data into features and target
X = df.drop('EstimatedSalary',axis=1)
y = df['EstimatedSalary']

In [11]:
#Split the data in training and test set
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

#Scale these features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [13]:

#Save the encoders and scaler
with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender,file)

with open('onehot_encode_geo.pkl','wb') as file:
    pickle.dump(onehot_encode_geo,file) 
    
with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

### ANN Regression

In [14]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [15]:
#Build ANN Model
model = Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)),  #Hidden Layer 1 connected with input layer 
    Dense(32,activation='relu'), #Hidden Layer 2
    Dense(1) #Output Layer for regression
])

2024-12-12 02:00:58.242354: I metal_plugin/src/device/metal_device.cc:1154] Metal device set to: Apple M2 Pro
2024-12-12 02:00:58.242376: I metal_plugin/src/device/metal_device.cc:296] systemMemory: 16.00 GB
2024-12-12 02:00:58.242383: I metal_plugin/src/device/metal_device.cc:313] maxCacheSize: 5.33 GB
2024-12-12 02:00:58.242649: I tensorflow/core/common_runtime/pluggable_device/pluggable_device_factory.cc:306] Could not identify NUMA node of platform GPU ID 0, defaulting to 0. Your kernel may not have been built with NUMA support.
2024-12-12 02:00:58.246459: I tensorflow/core/common_runtime/pluggable_device/pluggable_device_factory.cc:272] Created TensorFlow device (/job:localhost/replica:0/task:0/device:GPU:0 with 0 MB memory) -> physical PluggableDevice (device: 0, name: METAL, pci bus id: <undefined>)

In [17]:
#Compile the model
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])

In [18]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [20]:
#Set up the Tensorboard
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime
log_dir = "regressionlogs/fit" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callbacks = TensorBoard(log_dir=log_dir,histogram_freq=1)

In [21]:
#Setup Early Stopping
early_stopping_callbacks = EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [22]:
#Train the model
history = model.fit(
    X_train,y_train,validation_data=(X_test,y_test),epochs=100,
    callbacks=[tensorflow_callbacks,early_stopping_callbacks]
)

Epoch 1/100

2024-12-12 02:04:03.729617: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:117] Plugin optimizer for device_type GPU is enabled.

250/250 [==============================] - 1s 5ms/step - loss: 100426.0938 - mae: 100426.0938 - val_loss: 98707.3672 - val_mae: 98707.3672
Epoch 2/100
250/250 [==============================] - 1s 4ms/step - loss: 100376.4531 - mae: 100376.4531 - val_loss: 98622.8516 - val_mae: 98622.8516
Epoch 3/100
250/250 [==============================] - 1s 3ms/step - loss: 100263.9219 - mae: 100263.9219 - val_loss: 98464.5156 - val_mae: 98464.5156
Epoch 4/100
250/250 [==============================] - 1s 4ms/step - loss: 100079.1953 - mae: 100079.1953 - val_loss: 98219.2500 - val_mae: 98219.2500
Epoch 5/100
250/250 [==============================] - 1s 4ms/step - loss: 99814.6484 - mae: 99814.6484 - val_loss: 97885.2266 - val_mae: 97885.2266
Epoch 6/100
250/250 [==============================] - 1s 4ms/step - loss: 99482.1328 - mae: 99482.1328 - val_loss: 97482.9375 - val_mae: 97482.9375
Epoch 7/100
250/250 [==============================] - 1s 4ms/step - loss: 99079.0312 - mae: 99079.0312 - val_loss: 97029.9062 - val_mae: 97029.9062
Epoch 8/100
250/250 [==============================] - 1s 5ms/step - loss: 98668.0156 - mae: 98668.0156 - val_loss: 96645.2188 - val_mae: 96645.2188
Epoch 9/100
250/250 [==============================] - 1s 4ms/step - loss: 98337.7109 - mae: 98337.7109 - val_loss: 96321.1797 - val_mae: 96321.1797
Epoch 10/100
250/250 [==============================] - 1s 4ms/step - loss: 98076.3359 - mae: 98076.3359 - val_loss: 96114.1172 - val_mae: 96114.1172
Epoch 11/100
250/250 [==============================] - 1s 4ms/step - loss: 97928.0312 - mae: 97928.0312 - val_loss: 96108.0859 - val_mae: 96108.0859
Epoch 12/100
250/250 [==============================] - 1s 4ms/step - loss: 97920.0938 - mae: 97920.0938 - val_loss: 96192.0469 - val_mae: 96192.0469
Epoch 13/100
250/250 [==============================] - 1s 4ms/step - loss: 98041.1875 - mae: 98041.1875 - val_loss: 96330.5469 - val_mae: 96330.5469
Epoch 14/100
250/250 [==============================] - 1s 4ms/step - loss: 98122.0859 - mae: 98122.0859 - val_loss: 96455.6719 - val_mae: 96455.6719
Epoch 15/100
250/250 [==============================] - 1s 4ms/step - loss: 98225.5547 - mae: 98225.5547 - val_loss: 96524.4453 - val_mae: 96524.4453
Epoch 16/100
250/250 [==============================] - 1s 4ms/step - loss: 98263.6094 - mae: 98263.6094 - val_loss: 96515.7734 - val_mae: 96515.7734
Epoch 17/100
250/250 [==============================] - 1s 4ms/step - loss: 98226.9297 - mae: 98226.9297 - val_loss: 96425.7891 - val_mae: 96425.7891
Epoch 18/100
250/250 [==============================] - 1s 4ms/step - loss: 98136.4219 - mae: 98136.4219 - val_loss: 96241.5156 - val_mae: 96241.5156
Epoch 19/100
250/250 [==============================] - 1s 4ms/step - loss: 97940.5547 - mae: 97940.5547 - val_loss: 95985.6562 - val_mae: 95985.6562
Epoch 20/100
250/250 [==============================] - 1s 4ms/step - loss: 97694.1562 - mae: 97694.1562 - val_loss: 95738.6875 - val_mae: 95738.6875
Epoch 21/100
250/250 [==============================] - 1s 4ms/step - loss: 97459.8281 - mae: 97459.8281 - val_loss: 95485.0547 - val_mae: 95485.0547
Epoch 22/100
250/250 [==============================] - 1s 4ms/step - loss: 97209.6719 - mae: 97209.6719 - val_loss: 95236.5938 - val_mae: 95236.5938
Epoch 23/100
250/250 [==============================] - 1s 4ms/step - loss: 96934.5859 - mae: 96934.5859 - val_loss: 94946.8438 - val_mae: 94946.8438
Epoch 24/100
250/250 [==============================] - 1s 3ms/step - loss: 96611.6250 - mae: 96611.6250 - val_loss: 94683.1953 - val_mae: 94683.1953
Epoch 25/100
250/250 [==============================] - 1s 4ms/step - loss: 96349.8281 - mae: 96349.8281 - val_loss: 94423.1172 - val_mae: 94423.1172
Epoch 26/100
250/250 [==============================] - 1s 4ms/step - loss: 96076.9766 - mae: 96076.9766 - val_loss: 94134.1797 - val_mae: 94134.1797
Epoch 27/100
250/250 [==============================] - 1s 4ms/step - loss: 95792.0469 - mae: 95792.0469 - val_loss: 93871.5938 - val_mae: 93871.5938
Epoch 28/100
250/250 [==============================] - 1s 4ms/step - loss: 95524.1250 - mae: 95524.1250 - val_loss: 93607.3906 - val_mae: 93607.3906
Epoch 29/100
250/250 [==============================] - 1s 4ms/step - loss: 95248.1094 - mae: 95248.1094 - val_loss: 93333.7109 - val_mae: 93333.7109
Epoch 30/100
250/250 [==============================] - 1s 4ms/step - loss: 94967.2578 - mae: 94967.2578 - val_loss: 93060.8203 - val_mae: 93060.8203
Epoch 31/100
250/250 [==============================] - 1s 4ms/step - loss: 94691.2031 - mae: 94691.2031 - val_loss: 92777.2734 - val_mae: 92777.2734
Epoch 32/100
250/250 [==============================] - 1s 4ms/step - loss: 94396.9531 - mae: 94396.9531 - val_loss: 92436.8281 - val_mae: 92436.8281
Epoch 33/100
250/250 [==============================] - 1s 3ms/step - loss: 94064.3594 - mae: 94064.3594 - val_loss: 92138.1172 - val_mae: 92138.1172
Epoch 34/100
250/250 [==============================] - 1s 4ms/step - loss: 93726.5703 - mae: 93726.5703 - val_loss: 91775.4453 - val_mae: 91775.4453
Epoch 35/100
250/250 [==============================] - 1s 4ms/step - loss: 93368.2969 - mae: 93368.2969 - val_loss: 91417.1250 - val_mae: 91417.1250
Epoch 36/100
250/250 [==============================] - 1s 4ms/step - loss: 93036.4453 - mae: 93036.4453 - val_loss: 91096.0547 - val_mae: 91096.0547
Epoch 37/100
250/250 [==============================] - 1s 4ms/step - loss: 92720.6719 - mae: 92720.6719 - val_loss: 90773.2344 - val_mae: 90773.2344
Epoch 38/100
250/250 [==============================] - 1s 4ms/step - loss: 92393.4141 - mae: 92393.4141 - val_loss: 90443.8047 - val_mae: 90443.8047
Epoch 39/100
250/250 [==============================] - 1s 3ms/step - loss: 92063.9844 - mae: 92063.9844 - val_loss: 90077.4219 - val_mae: 90077.4219
Epoch 40/100
250/250 [==============================] - 1s 4ms/step - loss: 91670.6953 - mae: 91670.6953 - val_loss: 89717.7656 - val_mae: 89717.7656
Epoch 41/100
250/250 [==============================] - 1s 4ms/step - loss: 91324.6719 - mae: 91324.6719 - val_loss: 89361.9297 - val_mae: 89361.9297
Epoch 42/100
250/250 [==============================] - 1s 4ms/step - loss: 90969.8594 - mae: 90969.8594 - val_loss: 89009.7656 - val_mae: 89009.7656
Epoch 43/100
250/250 [==============================] - 1s 4ms/step - loss: 90604.8984 - mae: 90604.8984 - val_loss: 88585.0547 - val_mae: 88585.0547
Epoch 44/100
250/250 [==============================] - 1s 4ms/step - loss: 90183.5859 - mae: 90183.5859 - val_loss: 88256.8125 - val_mae: 88256.8125
Epoch 45/100
250/250 [==============================] - 1s 4ms/step - loss: 89820.4688 - mae: 89820.4688 - val_loss: 87874.2266 - val_mae: 87874.2266
Epoch 46/100
250/250 [==============================] - 1s 4ms/step - loss: 89460.1562 - mae: 89460.1562 - val_loss: 87483.4766 - val_mae: 87483.4766
Epoch 47/100
250/250 [==============================] - 1s 4ms/step - loss: 89071.3125 - mae: 89071.3125 - val_loss: 87126.0469 - val_mae: 87126.0469
Epoch 48/100
250/250 [==============================] - 1s 4ms/step - loss: 88690.6328 - mae: 88690.6328 - val_loss: 86760.6484 - val_mae: 86760.6484
Epoch 49/100
250/250 [==============================] - 1s 4ms/step - loss: 88280.0312 - mae: 88280.0312 - val_loss: 86304.9766 - val_mae: 86304.9766
Epoch 50/100
250/250 [==============================] - 1s 4ms/step - loss: 87868.4375 - mae: 87868.4375 - val_loss: 85912.4766 - val_mae: 85912.4766
Epoch 51/100
250/250 [==============================] - 1s 4ms/step - loss: 87483.2031 - mae: 87483.2031 - val_loss: 85516.7109 - val_mae: 85516.7109
Epoch 52/100
250/250 [==============================] - 1s 4ms/step - loss: 87084.9688 - mae: 87084.9688 - val_loss: 85149.6484 - val_mae: 85149.6484
Epoch 53/100
250/250 [==============================] - 1s 4ms/step - loss: 86708.2734 - mae: 86708.2734 - val_loss: 84724.7031 - val_mae: 84724.7031
Epoch 54/100
250/250 [==============================] - 1s 4ms/step - loss: 86291.6953 - mae: 86291.6953 - val_loss: 84323.4141 - val_mae: 84323.4141
Epoch 55/100
250/250 [==============================] - 1s 4ms/step - loss: 85881.1562 - mae: 85881.1562 - val_loss: 83941.1250 - val_mae: 83941.1250
Epoch 56/100
250/250 [==============================] - 1s 4ms/step - loss: 85440.0312 - mae: 85440.0312 - val_loss: 83518.4062 - val_mae: 83518.4062
Epoch 57/100
250/250 [==============================] - 1s 4ms/step - loss: 85053.7891 - mae: 85053.7891 - val_loss: 83125.0078 - val_mae: 83125.0078
Epoch 58/100
250/250 [==============================] - 1s 4ms/step - loss: 84640.0703 - mae: 84640.0703 - val_loss: 82680.7500 - val_mae: 82680.7500
Epoch 59/100
250/250 [==============================] - 1s 4ms/step - loss: 84213.7578 - mae: 84213.7578 - val_loss: 82274.1484 - val_mae: 82274.1484
Epoch 60/100
250/250 [==============================] - 1s 4ms/step - loss: 83784.4844 - mae: 83784.4844 - val_loss: 81835.7891 - val_mae: 81835.7891
Epoch 61/100
250/250 [==============================] - 1s 4ms/step - loss: 83359.3750 - mae: 83359.3750 - val_loss: 81399.4688 - val_mae: 81399.4688
Epoch 62/100
250/250 [==============================] - 1s 4ms/step - loss: 82936.4844 - mae: 82936.4844 - val_loss: 81050.5703 - val_mae: 81050.5703
Epoch 63/100
250/250 [==============================] - 1s 4ms/step - loss: 82501.5547 - mae: 82501.5547 - val_loss: 80552.2500 - val_mae: 80552.2500
Epoch 64/100
250/250 [==============================] - 1s 4ms/step - loss: 82046.1484 - mae: 82046.1484 - val_loss: 80129.4922 - val_mae: 80129.4922
Epoch 65/100
250/250 [==============================] - 1s 4ms/step - loss: 81624.3906 - mae: 81624.3906 - val_loss: 79657.3906 - val_mae: 79657.3906
Epoch 66/100
250/250 [==============================] - 1s 4ms/step - loss: 81179.3281 - mae: 81179.3281 - val_loss: 79280.2109 - val_mae: 79280.2109
Epoch 67/100
250/250 [==============================] - 1s 4ms/step - loss: 80742.6328 - mae: 80742.6328 - val_loss: 78783.9531 - val_mae: 78783.9531
Epoch 68/100
250/250 [==============================] - 1s 4ms/step - loss: 80267.2188 - mae: 80267.2188 - val_loss: 78392.6016 - val_mae: 78392.6016
Epoch 69/100
250/250 [==============================] - 1s 4ms/step - loss: 79837.3750 - mae: 79837.3750 - val_loss: 77898.1562 - val_mae: 77898.1562
Epoch 70/100
250/250 [==============================] - 1s 4ms/step - loss: 79378.7656 - mae: 79378.7656 - val_loss: 77492.0156 - val_mae: 77492.0156
Epoch 71/100
250/250 [==============================] - 1s 4ms/step - loss: 78913.7266 - mae: 78913.7266 - val_loss: 77001.7969 - val_mae: 77001.7969
Epoch 72/100
250/250 [==============================] - 1s 4ms/step - loss: 78444.2266 - mae: 78444.2266 - val_loss: 76684.0000 - val_mae: 76684.0000
Epoch 73/100
250/250 [==============================] - 1s 4ms/step - loss: 77984.4219 - mae: 77984.4219 - val_loss: 76061.5469 - val_mae: 76061.5469
Epoch 74/100
250/250 [==============================] - 1s 4ms/step - loss: 77487.4688 - mae: 77487.4688 - val_loss: 75567.9219 - val_mae: 75567.9219
Epoch 75/100
250/250 [==============================] - 1s 4ms/step - loss: 76999.3125 - mae: 76999.3125 - val_loss: 75128.9922 - val_mae: 75128.9922
Epoch 76/100
250/250 [==============================] - 1s 4ms/step - loss: 76574.8750 - mae: 76574.8750 - val_loss: 74790.8516 - val_mae: 74790.8516
Epoch 77/100
250/250 [==============================] - 1s 4ms/step - loss: 75973.9297 - mae: 75973.9297 - val_loss: 74107.1172 - val_mae: 74107.1172
Epoch 78/100
250/250 [==============================] - 1s 4ms/step - loss: 75519.0391 - mae: 75519.0391 - val_loss: 73647.7422 - val_mae: 73647.7422
Epoch 79/100
250/250 [==============================] - 1s 4ms/step - loss: 75036.6328 - mae: 75036.6328 - val_loss: 73237.4297 - val_mae: 73237.4297
Epoch 80/100
250/250 [==============================] - 1s 4ms/step - loss: 74571.2344 - mae: 74571.2344 - val_loss: 72731.2031 - val_mae: 72731.2031
Epoch 81/100
250/250 [==============================] - 1s 4ms/step - loss: 74106.2422 - mae: 74106.2422 - val_loss: 72275.7422 - val_mae: 72275.7422
Epoch 82/100
250/250 [==============================] - 1s 4ms/step - loss: 73603.6172 - mae: 73603.6172 - val_loss: 71815.4062 - val_mae: 71815.4062
Epoch 83/100
250/250 [==============================] - 1s 4ms/step - loss: 73146.3281 - mae: 73146.3281 - val_loss: 71343.4531 - val_mae: 71343.4531
Epoch 84/100
250/250 [==============================] - 1s 4ms/step - loss: 72684.3828 - mae: 72684.3828 - val_loss: 70963.0312 - val_mae: 70963.0312
Epoch 85/100
250/250 [==============================] - 1s 4ms/step - loss: 72190.0000 - mae: 72190.0000 - val_loss: 70482.7266 - val_mae: 70482.7266
Epoch 86/100
250/250 [==============================] - 1s 4ms/step - loss: 71715.0234 - mae: 71715.0234 - val_loss: 69988.6406 - val_mae: 69988.6406
Epoch 87/100
250/250 [==============================] - 1s 4ms/step - loss: 71246.2891 - mae: 71246.2891 - val_loss: 69503.2109 - val_mae: 69503.2109
Epoch 88/100
250/250 [==============================] - 1s 4ms/step - loss: 70776.4922 - mae: 70776.4922 - val_loss: 69055.2500 - val_mae: 69055.2500
Epoch 89/100
250/250 [==============================] - 1s 4ms/step - loss: 70294.9297 - mae: 70294.9297 - val_loss: 68613.7188 - val_mae: 68613.7188
Epoch 90/100
250/250 [==============================] - 1s 4ms/step - loss: 69811.1562 - mae: 69811.1562 - val_loss: 68195.5938 - val_mae: 68195.5938
Epoch 91/100
250/250 [==============================] - 1s 4ms/step - loss: 69366.9844 - mae: 69366.9844 - val_loss: 67687.3594 - val_mae: 67687.3594
Epoch 92/100
250/250 [==============================] - 1s 4ms/step - loss: 68872.5938 - mae: 68872.5938 - val_loss: 67216.3516 - val_mae: 67216.3516
Epoch 93/100
250/250 [==============================] - 1s 4ms/step - loss: 68441.2578 - mae: 68441.2578 - val_loss: 66735.9844 - val_mae: 66735.9844
Epoch 94/100
250/250 [==============================] - 1s 4ms/step - loss: 67795.2344 - mae: 67795.2344 - val_loss: 66295.0781 - val_mae: 66295.0781
Epoch 95/100
250/250 [==============================] - 1s 4ms/step - loss: 67385.4922 - mae: 67385.4922 - val_loss: 65745.0000 - val_mae: 65745.0000
Epoch 96/100
250/250 [==============================] - 1s 4ms/step - loss: 66883.3516 - mae: 66883.3516 - val_loss: 65279.4102 - val_mae: 65279.4102
Epoch 97/100
250/250 [==============================] - 1s 4ms/step - loss: 66386.8047 - mae: 66386.8047 - val_loss: 64941.8555 - val_mae: 64941.8555
Epoch 98/100
250/250 [==============================] - 1s 4ms/step - loss: 65939.2812 - mae: 65939.2812 - val_loss: 64358.5781 - val_mae: 64358.5781
Epoch 99/100
250/250 [==============================] - 1s 4ms/step - loss: 65489.5781 - mae: 65489.5781 - val_loss: 63904.5898 - val_mae: 63904.5898
Epoch 100/100
250/250 [==============================] - 1s 4ms/step - loss: 65004.2969 - mae: 65004.2969 - val_loss: 63500.0586 - val_mae: 63500.0586

In [24]:
%load_ext tensorboard

In [27]:
%tensorboard --logdir regressionlogs/fit20241212-020344

Reusing TensorBoard on port 6006 (pid 3494), started 0:00:20 ago. (Use '!kill 3494' to kill it.)

In [28]:
#Evaluate the model
test_loss, test_mae = model.evaluate(X_test,y_test)
print(f"Test MAE: {test_mae}")

63/63 [==============================] - 0s 3ms/step - loss: 63500.0586 - mae: 63500.0586
Test MAE: 63500.05859375

In [29]:
model.save('model_regression.h5')

/Users/rishaan/miniforge3/envs/tensorflow-keras/lib/python3.11/site-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(